.cart{
    .productcontainer{

        img{
            margin-left: 5px;
        }
        display: flex;
        width: 100%;

        .productinfo{
            color: white;
            margin-left: 5em;

            .productname{
                font-weight: 600;
            }
        }

        .btn{
            color: white;
            background-color: rgb(102, 102, 102);
            margin: 0px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 1.7em;
            border-radius: 5px;
            margin-top: 2em; 
            margin-left: 5em;

            button{
                background-color: rgb(163, 162, 160);
                border: 1px solid grey;
                color: black;
                margin: 2px;
            }
        }
    }
}
