.footer {

    text-align: center;
    background-color: rgb(58, 58, 58);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 1em;
    padding-top: 1em;
    color: #ccc;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 50;
    //     left: 0;
    //     width: 100%;
    //     height: 20vh; 
    //     background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(27, 26, 26, 1));
    //     pointer-events: none;
    // }
    a {
        color: #ccc;
        text-decoration: none;
        font-size: 1em;

        &:hover {
            text-decoration: underline;
        }
    }

}